patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/.suo
patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/Browse.VC.db
patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/Browse.VC.db-shm
patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/Browse.VC.db-wal
patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/Browse.VC.opendb
patchSuite/CtsSerializerProxy/.vs/CtsSerializer/v16/ipch/f24a998650e76dd5.ipch
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/cpu.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.Build.CppClean.log
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.dll.recipe
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.ilk
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.log
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.pch
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.vcxproj.FileListAbsolute.txt
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/ctsserializerProxy.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/disasm.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/disasm_x86.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/dllmain.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/libfnpPatch.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/mhook.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/misc.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/mylog.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/pch.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/vc142.idb
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/vc142.pdb
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/wmiTest.obj
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/CL.command.1.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/CL.read.1.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/CL.write.1.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/CtsSerializer.lastbuildstate
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/CtsSerializer.write.1u.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/link.command.1.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/link.read.1.tlog
patchSuite/CtsSerializerProxy/CtsSerializer/x64/Debug/CtsSerializer.tlog/link.write.1.tlog
patchSuite/CtsSerializerProxy/x64/Debug/CtsSerializer.dll
patchSuite/CtsSerializerProxy/x64/Debug/CtsSerializer.exp
patchSuite/CtsSerializerProxy/x64/Debug/CtsSerializer.lib
patchSuite/CtsSerializerProxy/x64/Debug/CtsSerializer.pdb
